:root {
    --color-fondo: rgb(236, 236, 248);
    --color-fondo-menu-desplegable: rgba(236, 236, 248, 0.7);
    --color-texto-oscuro: #2a2a2c;
    --color-texto-claro: #ececf8;
    --color-fondo-botones: #4348bd;
    --color-fondo-botones-hover-main: #5c5fb8;
    --color-fondo-botones-hover-header: #afb1f7;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    max-width: 980px;
    background-color: var(--color-fondo);
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

/* estilo del header */
header, footer {
    background-color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menubar-desplegable {
    display: none;
}

.logo {
    display: inline-block;
    height: 80px;
    width: 80px;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.header-menubar {
    display: inline-block;
    /* Agrega una sombra suave al texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header-menubar ul {
    list-style: none;
}

.header-menubar ul:first-child {
    padding-right: 3rem;
}

.header-menubar li {
    float: left;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
    /* Agrega una transición suave para la animación */
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.header-menubar a {
    text-decoration: none;
    color: var(--color-texto-oscuro);
    font-size: 1rem;
}

/* Aplica los estilos de hover */
.header-menubar li:hover {
    /* Agrega un efecto de difuminado y transformación al hacer hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}


/* estilo del main */
.banner {
    background-image: url(../img/fondo_index.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}
.texto-banner {
    height: 60%;
} 

.botones-banner {
    height: 40%;
}

.texto-banner h1 {
    color: var(--color-texto-claro);
    font-size: 3.8rem;
    padding: 2rem;
}

.texto-banner h2 {
    color: var(--color-texto-claro);
    font-size: 2.5rem;
    padding: 2rem 10rem;
}

.botones-banner ul {
    height: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

/* Estilos de los botones */
.botones-banner ul a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 120px; /* Ajusta el ancho según tus preferencias */
    height: 40px; /* Ajusta la altura según tus preferencias */
    line-height: 40px; /* Centra el texto verticalmente */
    color: var(--color-texto-claro);
    background-color: var(--color-fondo-botones);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.botones-banner ul a:hover {
    background-color: var(--color-fondo-botones-hover-main);
    color: var(--color-texto-oscuro);
}


.publicar {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0;
}

.publicar .publicar-texto {
    text-align: center;
    color: var(--color-texto-oscuro);
}

.publicar .publicar-enlace{
    display: flex;
    justify-content: center;
}

.publicar .publicar-enlace a {
    transition: transform 0.2s;
}

.publicar .publicar-enlace a:hover {
    transform: rotate(10deg) scale(1);
}

#automoviles h2, #camionetas h2, #utilitarios h2, #motos h2{
    color: var(--color-texto-oscuro);
    padding: 1rem;
}

.publicaciones-recientes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publicacion {
    display: flex;
    flex-direction: row;
}

.publicacion .foto {
    padding: 1rem;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: flex-end;
}

.publicacion .foto img {
    border-radius: 10px;
    width: 100%;
    object-fit: scale-down;
}

.publicacion .texto {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publicacion .texto p {
    font-size: 1.2rem;
}

.publicacion .texto p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
}

.publicacion .texto .precio {
    color: rgb(255, 102, 0);
    font-weight: 700;
    font-size: 1.5rem;
}

.publicacion .texto .mas-info {
    display: inline-block;
    background-color: var(--color-fondo-botones);
    color: var(--color-texto-claro);
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5rem;
    margin: 2rem 0 0 0;
}

.publicacion .texto .mas-info:hover {
    background-color: var(--color-fondo-botones-hover-main);
    padding: 0.6rem;
    font-size: 1rem;
}

/* estilo del footer */
footer ul {
    list-style: none;
}

.redes-sociales ul {
    display: flex;
    flex-direction: row;
}

.contacto {
    padding-right: 2rem;
}
.contacto ul {
    display: flex;
    flex-direction: column;
}

.redes-sociales li {
    float: left;
    margin-right: 1rem;
}
.contacto a, .redes-sociales a {
    text-decoration: none;
}

/* animaciones */
.header-logo {
    animation-name: header-logo-animation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes header-logo-animation {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }
    80% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}

@media only screen and (min-width: 451px) and (max-width: 755px) {
    .header-menubar {
        display: none;
    }

    .header-menubar-desplegable {
        display: flex;
        align-items: center;
        padding-right: 2rem;
        position: relative;
    }

    .header-menubar-desplegable a {
        text-decoration: none;
        color: var(--color-texto-oscuro);
        font-size: 1rem;
    }

    .header-menubar-desplegable ul {
        display: none;
        list-style: none;
        position: absolute;
        z-index: 2;
        top: 2vh;
        right: 0;
        transition: all 0.5;
        flex-direction: column;
        padding-right: 1rem;
        padding: 0;
        margin: 0;
    }

    .header-menubar-desplegable:hover .contenido-desplegable{
        display: flex;
    }

    .header-menubar-desplegable .contenido-desplegable li {
        background-color: var(--color-fondo-menu-desplegable);
        color: var(--color-texto-oscuro);
        width: 120px;
        padding: 5px 5px;
        transition: all 0.3s ease; 
    }

    .header-menubar-desplegable .contenido-desplegable li:hover {
        background-color: var(--color-fondo-botones-hover-main);
    } 

    .header-menubar-desplegable .contenido-desplegable li:hover a {
        color: var(--color-texto-claro)
    }

    .publicacion .texto {
        padding: 0 0.5rem;
    }

    .publicacion .texto p {
        font-size: 1rem;
    }

    .publicacion .texto p:first-child {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .publicacion .texto .precio {
        font-size: 1.3rem;
    }

    .texto-banner h1 {
        font-size: 2.8rem;
        padding: 1cap;
    }
    
    .texto-banner h2 {
        font-size: 1.5rem;
        padding: 1rem 5rem;
    }

    .redes-sociales ul{
        display: flex;
        flex-direction: column;
    } 
}

@media only screen and (max-width: 450px) {
    .botones-banner ul {
        flex-direction: column; /* Apilar los botones verticalmente */
        align-items: center; /* Centrar los botones horizontalmente */
    }

    .botones-banner ul a {
        width: 200px; /* Ancho fijo para los botones */
        margin-bottom: 10px; /* Agregar un espacio entre los botones */
    }

    .header-menubar {
        display: none;
    }

    .header-menubar-desplegable {
        display: flex;
        align-items: center;
        padding-right: 2rem;
        position: relative;
    }

    .header-menubar-desplegable a {
        text-decoration: none;
        color: var(--color-texto-oscuro);
        font-size: 1rem;
    }

    .header-menubar-desplegable ul {
        display: none;
        list-style: none;
        position: absolute;
        z-index: 2;
        top: 2vh;
        right: 0;
        transition: all 0.5;
        flex-direction: column;
        padding-right: 1rem;
        padding: 0;
        margin: 0;
    }

    .header-menubar-desplegable:hover .contenido-desplegable{
        display: flex;
    }

    .header-menubar-desplegable .contenido-desplegable li {
        background-color: var(--color-fondo-menu-desplegable);
        color: var(--color-texto-oscuro);
        width: 120px;
        padding: 5px 5px;
        transition: all 0.3s ease; 
    }

    .header-menubar-desplegable .contenido-desplegable li:hover {
        background-color: var(--color-fondo-botones-hover-main);
    } 

    .header-menubar-desplegable .contenido-desplegable li:hover a {
        color: var(--color-texto-claro)
    }
   
    .texto-banner h1 {
        font-size: 2.8rem;
        padding: 1cap;
    }
    
    .texto-banner h2 {
        font-size: 1.5rem;
        padding: 1rem 5rem;
    }

    .redes-sociales ul{
        display: flex;
        flex-direction: column;
    }

    .publicacion {
        display: flex;
        flex-direction: column;
    }
    
    .publicacion .texto {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Formulario para publicar un usado */
/* Estilos para el formulario */
form {
    background-color: var(--color-fondo);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
.form-control {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Estilos para las etiquetas */
.form-label {
    color: var(--color-texto-oscuro);
    margin-bottom: 5px;
}

/* Estilos para los botones */
.btn-primary {
    background-color: var(--color-fondo-botones);
    border: none;
    color: var(--color-texto-claro);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-fondo-botones-hover-main);
    color: var(--color-texto-oscuro);
}

.btn-secondary {
    background-color: var(--color-fondo-botones);
    border: none;
    color: var(--color-texto-claro);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--color-fondo-botones-hover-header);
    color: var(--color-texto-oscuro);
}
